<div class="grid-x">
  <div class="cell small-3"> </div>
  <div class="cell small-4">
    <br/>
    <h4>Set Up Your Venue</h4>
  </div>
</div>

<div class="grid-x">
  <div class="cell small-3"></div>
  <div class="cell small-4">
<%= form_for @venue do |f| %>

  <div class="field short-field">
    <%= f.label "Venue Name" %>
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field med-field">
    <%= f.label "Address" %>
    <%= f.text_field :address_1, autofocus: true %>
  </div>

  <div class="field med-field">
    <%= f.label "Address Line 2" %>
    <%= f.text_field :address_2, autofocus: true %>
  </div>

  <div class="field med-field">
    <%= f.label "City" %>
    <%= f.text_field :city, autofocus: true %>
  </div>

  <div class="field tiny-field">
    <%= f.label "State" %>
    <%= f.text_field :state, autofocus: true %>
    <%= f.label "Zip Code" %>
    <%= f.text_field :zip, autofocus: true %>
  </div>

  <div class="field tiny-field">
    <%= f.label "Capacity" %>
    <%= f.text_field :capacity, autofocus: true %>
  </div>

  <div class="field short-field">
    <%= f.label "How Loud is OK?" %>
    <%= f.select(:noise_level,[
      ['Quiet', 'Quiet'],
      ['Reasonable', 'Reasonable'],
      ['Loud', 'Loud'],
      ['11', '11']])  %>
  </div>

  <div class="field med-field">
    <%= f.label "Add a Photo"%>
    <%= f.file_field :profile_photo %>
  </div>
</div>

  <div class="cell small-5">
    <%= f.label "Genres - pick all that apply" %>
    <div>
      <%= f.collection_check_boxes(:venuegenres, Genrelut.all, :id, :genre_name) do |b| %>
        <%= b.label(class: "check_box") do %>
            <%= b.check_box(class: "check_box") %>
            <%= b.object.genre_name %>
        <% end %>
      <% end %>
    </div>

    <div class="actions">
      <%= f.submit "All Done!" %>
    </div>
  <% end %>
  </div>

</div>
